.sideCard {
  width: 900px;
  height: 250px;
  display: flex;
  gap: 5px;
}

.sideCard .box_card {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: all .5s;
  display: flex;
  justify-content: center;
  align-items: center;
}


.sideCard .box_card::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    url('https://img.freepik.com/fotos-gratis/banana-unica-isolada-sobre-um-fundo-branco_839833-17794.jpg?semt=ais_hybrid&w=740');
  background-size: cover;
  background-position: center;
  filter: grayscale(1) contrast(0.2) brightness(0.6);
  transition: filter 0.6s ease, background 0.6s;
  z-index: 0;
}

.sideCard .box_card:hover::before {
  filter: grayscale(0) contrast(1) brightness(1.0);
}

.sideCard .box_card:hover {
  flex: 4;
}

.sideCard .box_card span {
  text-align: center;
  transform: rotate(-90deg);
  transition: all 1s;
}

.sideCard .box_card:hover span {
  transform: rotate(0);
}