@import "tailwindcss";

@theme {
    --color-vermelho: #d50017;
    --color-escuro-vermelho: #1d0000;
    --color-fundo-card: #05132bbf;
    --background-color: #f5f7fa;
    --text-color: #333333;
    --font-open-sans : "Open Sans", sans-serif;
    --font-orbitron2: 'Orbitron', sans-serif;
    --font-neue-regular:  "Bebas Neue", sans-serif;

}


@layer components {
  #root {
    width: 100vw;
    height: 100vh;
  }

  body {
    margin: 0;
  }

.rotating-text{
  
}



}